
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#fullscreen-container{
    margin-bottom: 0px;
    border-bottom: none;
    margin: 10px;
    float: left;
    overfloat: auto;
}
