@import "mixins";

.playback-container {

    .playback-controls {
        display: inline-block;
        margin-bottom: 0px;
        margin-top: 10px;
        width: 100%;

        .playback-controls-right {
            display: inline-block;
            width: 350px;

            .btn {
                display:inline-block;
            }

            p {
                display:inline-block;
            }

            .ui-slider {
                display:inline-block;
                width: 100px;
                margin-left: 5px;
                margin-right: 5px;
            }

            .turn-display {
                p {
                  display:inline-block;
                  margin:0px;
                }
            }
        }
    }

    slider {
        margin: 0px;
        padding: 0px;
        border: 0px;
        height: 40px;
    }

    .playback-buttons {
        .playback-controls {
        }
        .slider-value {
        }
    }
}
