@import "mixins";

.playback-container {
    .playback-controls {
        margin-bottom: 0px;
    }

    slider {
        margin: 0px;
        padding: 0px;
        border: 0px;
        height: 40px;
    }

    .playback-buttons {
        .playback-controls {
        }
        .slider-value {
        }
    }
}
