<div ng-controller="NavbarCtrl as navbar" class="text-center" style="height:100%;">
  <div id="game-info" class="row-fluid">
    <h2 style="padding-top:20px; padding-bottom:10px">
      {{ gameName }}
      <small class="text-muted">{{version }}</small>
    </h2>
    <div class="btn-group btn-group-justified">
      <div class="btn-group btn-group-vertical">
        <button file-dialog class="btn btn-primary">Open</button>
      </div>
    </div>
  </div>
  <div id="tab-panel" ng-controller="TabmenuCtrl as tabmenu" class="vis-tab-menu row-fluid well well-xs">
    <tabset style="height:100%;">
      <tab heading="Alerts">
        <div class="vis-tab-content">
          <div ng-include="'partials/alerts.html'"></div>
        </div>
      </tab>
      <tab heading="Debug">
        <div class="well" style="height:40%;">
          <table class="table table-bordered table-hover">
            <tr ng-repeat="(id, object) in currentSelection">
                <td ng-click="focus(id);"> {{id}} </td>
            </tr>
          </table>
        </div>
        <div class="well" style="height:60%;overflow:auto;">
          <table class="table table-bordered table-hover">
            <tr ng-repeat="(key, value) in focusData">
              <td> {{key}} </td>
              <td> {{value}} </td>
            </tr>
          </table>
        </div>
      </tab>
      <tab>
        <tab-heading>
          <div class="btn-group dropdown">
            Options
            <a dropdown-toggle>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="choice in pages">
                <a href ng-click="changePage(choice)">{{choice}}</a>
              </li>
            </ul>
          </div>
        </tab-heading>
        <div class="vis-tab-content">
          <div ng-repeat="(id, object) in currentPage">
            <game-option name="id" page="currentPageName" option="object"></game-option>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
