<div ng-controller="NavbarCtrl as navbar" class="text-center" style="height:100%;">
  <div id="game-info" class="row-fluid">
    <h2 style="padding-top:20px; padding-bottom:10px"> 
      {{ navbar.gameName }} 
      <small class="text-muted">{{ navbar.version }}</small>
    </h2>
    <div class="btn-group btn-group-justified">
      <div class="btn-group btn-group-vertical">
        <button file-dialog class="btn btn-primary">Open</button>
      </div>
    </div>
  </div>
  <div id="tab-panel" ng-controller="TabmenuCtrl as tabmenu" class="vis-tab-menu row-fluid well well-xs">
    <tabset style="height:100%;">
      <tab heading="Alerts">
        <div class="vis-tab-content">
          <div ng-include="'partials/alerts.html'"></div>
        </div>
      </tab>
      <tab heading="Debug">
        <p>To Be Implemented</p>
      </tab>
      <tab>
        <tab-heading>
          <div class="btn-group dropdown">
            Options
            <a dropdown-toggle>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="choice in pages">
                <a href ng-click="changePage(choice)">{{choice}}</a>
              </li>
            </ul>
          </div>
        </tab-heading>
          <div class="vis-tab-content">
            <div ng-repeat="(id, object) in currentPage">
              <game-option name="id" option="object"></game-option>
            </div>
          </div>
      </tab>
    </tabset>
  </div>
</div>
