<!-- Playback controls -->
<div class="playback-container" ng-controller="PlaybackCtrl as playback">
  <div class="playback-controls well well-sm">
    <div class="row" style="padding-left:10px;padding-right:10px">
      <div class="col-xs-12">
        <slider max-value="maxTurn" current-value="currentTurn" live-value="currentTurn"></slider>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 playback-controls">
        <div class="btn-group pull-left">
          <!-- Step back button -->
          <button class="btn btn-default" ng-click="stepBack()">
            <i class="fa fa-backward"></i>
          </button>

          <!-- Play/pause buttons -->
          <button class="btn btn-default" ng-click="playPause()">
            <span ng-hide="isPlaying()"><i class="fa fa-play"></i></span>
            <span ng-show="isPlaying()"><i class="fa fa-pause"></i></span>
          </button>

          <!-- Step forward button -->
          <button class="btn btn-default" ng-click="stepForward()">
            <i class="fa fa-forward"></i>
          </button>
        </div>

        <!-- Fullscreen button -->
        <div class="pull-right playback-controls-right">
          <p>Turn:</p>
          <div class="btn btn-default slider-value disabled" style="margin-right:5px;">
              {{ currentTurn || 0 }}
          </div>

          <p>Time:</p>
          <slider max-value="10" current-value="timeDt" live-value="timeDt"></slider>
          <p style="width:40px;">x{{timeDt/4}}</p>
          <button class="btn btn-default" ng-click="fullscreen()">
              <i class="fa fa-desktop"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready( function() {
        var resizeStage = function() {
            var totalheight = $('#fullscreen-container').innerHeight();
            var playbackHeight = $('#playback-container').height();

            $('#stage-container').height(totalheight - playbackHeight);
        };

        $(window).resize(resizeStage);
        resizeStage();
    });
</script>
