<!-- Playback controls -->
<div class="playback-container" ng-controller="PlaybackCtrl as playback">
  <div class="playback-controls well well-sm">
    <div class="row" style="padding:0px;">
      <div class="col-xs-12">
        <slider max-value="playback.maxTurn" current-value="playback.currentTurn" live-value="playback.currentTurn"></slider>
      </div>

      <div class="col-xs-12" style="margin-top:10px;">
        <div class="btn-toolbar playback-buttons">
          <div class="btn-group playback-controls">

            <!-- Step back button -->
            <button class="btn btn-default" ng-click="playback.stepBack()">
              <i class="fa fa-backward"></i>
            </button>

            <!-- Play/pause buttons -->
            <button class="btn btn-default" ng-click="playback.playPause()">
              <span ng-hide="playback.isPlaying()"><i class="fa fa-play"></i></span>
              <span ng-show="playback.isPlaying()"><i class="fa fa-pause"></i></span>
            </button>

            <!-- Step forward button -->
            <button class="btn btn-default" ng-click="playback.stepForward()">
              <i class="fa fa-forward"></i>
            </button>
          </div>
            <div class="btn btn-default slider-value">
                {{ playback.currentTurn || 0 }}
            </div>

          <!-- Current turn display -->
          <div class="btn-group pull-right">
              <button class="btn btn-default" ng-click="playback.fullscreen()">
                  <i class="fa fa-desktop"></i>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
