<!-- Playback controls -->
<div class="playback-container" ng-controller="PlaybackCtrl as playback">
  <div class="playback-controls well well-sm">
    <div class="row" style="padding-left:10px;padding-right:10px">
      <div class="col-xs-12">
        <slider max-value="playback.maxTurn" current-value="playback.currentTurn" live-value="playback.currentTurn"></slider>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 playback-controls" style="margin-top:10px;">
        <div class="btn-group pull-left">
          <!-- Step back button -->
          <button class="btn btn-default" ng-click="playback.stepBack()">
            <i class="fa fa-backward"></i>
          </button>

          <!-- Play/pause buttons -->
          <button class="btn btn-default" ng-click="playback.playPause()">
            <span ng-hide="playback.isPlaying()"><i class="fa fa-play"></i></span>
            <span ng-show="playback.isPlaying()"><i class="fa fa-pause"></i></span>
          </button>

          <!-- Step forward button -->
          <button class="btn btn-default" ng-click="playback.stepForward()">
            <i class="fa fa-forward"></i>
          </button>
        </div>

        <!-- Time Slider -->
        <div class="time-slider">
          <p>Time:</p>
          <slider max-value="10" current-value="0"></slider>

          <script id="time-slide-handler">
              var div = $(document.getElementById("time-slide-handler")).parent();
              var parentWidth = div.width();
              var textWidth = div.find("p").width();
              div.find("slider").css("width", parentWidth - textWidth - 25);
          </script>
        </div>

        <!-- Fullscreen button -->
        <div class="btn-group pull-right">
            <button class="btn btn-default" ng-click="playback.fullscreen()">
                <i class="fa fa-desktop"></i>
            </button>
        </div>

        <!-- Current Turn -->
        <div class="btn btn-default slider-value pull-right" style="margin-right:5px;">
            {{ playback.currentTurn || 0 }}
        </div>
      </div>
    </div>
  </div>
</div>
